{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    {% load static %}

    <div class="flexbox-center">
        <img src="{% static 'encyclopedia/knowledgepedia_logo.png' %}" id="knowledgepedia_logo">
    </div>
    <div id="searchbar-div">
        <form action="" method="post" id="searchbar" class="flexbox-center">
            {% csrf_token %}
            {{ form }}
            <input type="submit" hidden>
        </form>
    </div>
    <ul class="flexbox-list">
        {% for entry in entries %}
            <div class="flex-item">
                <li>{{ entry }}</li>
            </div>
        {% endfor %}
    </ul>
    

{% endblock %}